<!-- <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">{{name}}</div>
    <div class="card-body">
      <h5 class="card-title">{{rollno}}</h5>
      <p class="card-text">{{batch}}</p>
      <p class="card-text">{{department}}</p>
      <input type="button" value="Select" (click)="selectStudent()">
    </div>
  </div> -->
  <div class="card-group">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{rollno}}</p>
          <p class="card-text">{{batch}}</p>
          <p class="card-text">{{department}}</p>
          <input type="button" value="Select" (click)="selectStudent()">
        </div>
      </div>
      
  
 
  
 
 